# Configurações de Segurança do Flask
SECRET_KEY=sua_chave_secreta_aqui

# Configuração do Banco de Dados (PostgreSQL)
# Formato: postgresql://usuario:senha@localhost:5432/nome_do_banco
DATABASE_URL=postgresql://usuario:senha@localhost:5432/meruem_db

# API Key do Resend (Envio de E-mails)
RESEND_API_KEY=re_suachaveaqui123